.header{
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  background-color: ;
  position: fixed;
  top: 12px;
  left: 324px;
  width: 100%;
  height: 64px;
}

.header .header__content{
  
  background-color: aqua;
  display: flex;
  width: 100%;
  justify-items: center;
  
}

.header .header__content button{
  align-content: first baseline;
  

}

.header .header__content img{
  display: flex;
  align-self: center;
}